<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Lifestyle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/todo.css">
</head>

<header>
    <h1 class="text-center">Todo</h1>
</header>

<body>

<nav>
    <a class="btn" th:href="@{todo}">ToDo-list</a>
    <a class="btn" th:href="@{calendar}">Calendar</a>
    <a class="btn float-right" th:href="@{/}">Home</a>
    
</nav>
<ul class = "nav navbar-nav">
    	<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>
Logged in as: <span sec:authentication="principal.username"> User</span>

<h2 class="text-center">What do you want to do today?</h2>

<table class="container">
    <form th:action="@{/todo/addTask}" th:object="${todo}" method="post">
            <td><input type="text" class="form-control border border-dark" th:field="*{task}" required></td>
            <td><button type="submit" class="form-control border-dark">Add</button></td>
    </form>
</table>

<table class="container mt-5">
    <tr th:each="todo : ${tasks}">
        <td><input type="checkbox"></td>
        <td class="w-100" th:text="${todo.task}"></td>

        <td>
            <button class="form-control border-dark form" id="submitbutton">Edit</button>
        </td>

        <td>
            <form th:action="@{/todo/deleteTask/{taskID}(taskID = ${todo.taskID})}" method="post">
                    <button class="form-control border-dark form" id="submitbutton" type="submit">Remove</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>