nav{
    margin:0px
}

nav > button{
    transition-duration: 0.4s;
    border: 1px;
    padding:5px;
    margin: 0px 40px 0px;
    background-color: lightgrey;
}

nav > button:hover{
    background-color: white;
}

body{
    background-color: #d3d3d3;
}