header {
    background-image: url("https://www.itl.cat/pngfile/big/14-146214_sky-clouds-hd-cloudy-sky.jpg");
    background-size: cover;
    padding: 40px;
}
header > h1{
    color:white;
}

nav{
    margin:5px;
}

nav > a{
    padding-inline: 20px;
}

body{
    background-color: lightgrey;
}