header {
    background-image: url("https://www.itl.cat/pngfile/big/14-146214_sky-clouds-hd-cloudy-sky.jpg");
    background-size: cover;
    padding: 40px;
}
header > h1{
    color: #ffffff;
}

nav{
    margin:0px
}

nav > a{
	color: #000000;
	text-decoration:none;
    transition-duration: 0.4s;
    border: 1px;
    padding:5px;
    margin: 0px 40px 0px;
    background-color: lightgrey;
}

nav > a:hover{
    background-color: white;
}

body{
    background-color: #d3d3d3;
}

.whole{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5,1fr);
    height: 100%;
    text-align: center;
    margin-top: 10vh;
    background-color: white;
    margin-left: 30vh;
    margin-right: 30vh;
}

.dates:nth-last-child(-n+3){
    background-color: lightgrey;
}

.dates{
    padding-bottom: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.2);
    text-align: start;
    padding-left: 20px;
}
.day{
    font-size: 20px;
    padding-top: 30px;
    background-color: lightgrey;
}
