header {
    background-image: url("https://www.itl.cat/pngfile/big/14-146214_sky-clouds-hd-cloudy-sky.jpg");
    background-size: cover;
    padding: 40px;
}
header > h1{
    color: #ffffff;
}

nav{
    margin:0
}

nav > a{
	color: #000000;
	text-decoration:none;
    transition-duration: 0.4s;
    border: 1px;
    padding:5px;
    margin: 0 40px 0px;
    background-color: lightgrey;
}

nav > a:hover{
    background-color: white;
}

body{
    background-color: #d3d3d3;
}

.text-center{
    color:  black;
    font-family: 'Roboto', Thin, sans-serif;
    font-weight: lighter;
}
.whole{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5,1fr);
    height: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 2vh 15% 10vh;
    font-size: 22px;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;
}

.dates:nth-last-child(-n+7){
    border-bottom-style: none;
    border-bottom-width: 0;
    border-bottom-color: rgba(0,0,0,0);
}

.dates:nth-child(n+7){
    border-top-style: none;
    border-top-width: 0;
    border-top-color: rgba(0,0,0,0);
}
.dates:nth-child(7n){
    border-right-style: none;
    border-right-width: 0;
    border-right-color: rgba(0,0,0,0);
}
.dates:nth-child(7n+1){
    border-left-style: none;
    border-left-width: 0;
    border-left-color: rgba(0,0,0,0);
}

.dates{
    padding-bottom: 100px;
    border-style: solid;
    border-width: .5px;
    border-color: rgba(0,0,0,.2);
    text-align: start;
    padding-right: 50px;
    font-size: 30px;
    font-weight: lighter;
    padding-left: 10px;
    font-family: 'Roboto', Thin, sans-serif;
}
.dates:not(:nth-child(7n)){
    border-right-style: none;
    border-right-width: 0;
    border-right-color: rgba(0,0,0,0);
}
.day{
    font-size: 20px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
}

.background{
 background-color:#e1e1e1 ;
    padding-bottom: 100vh;
}

.events{
    position: absolute;
    border-width: 0;
}