<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	crossorigin="anonymous">
	<link rel="stylesheet" href="/loginregister.css">
</head>
<header>
    <h1 class="text-center">Register</h1>
</header>
<body>

<nav>
    <a class="btn" th:href="@{todo}">ToDo-list</a>
    <a class="btn" th:href="@{calendar}">Calendar</a>
    <a class="btn float-right" th:href="@{login}">Login</a>
</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<h1>Registration</h1>
				
				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You have successfully registered
						to the app!</div>
				</div>

				<form th:action="@{/register}" method="post" >
					<div class="form-group">
						<label class="control-label" for="firstName"> First Name </label>
						<input id="firstName" class="form-control"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="lastName"> Last Name </label> <input
							id="lastName" class="form-control"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="email"> Email </label> <input
							id="email" class="form-control" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="password"> Password </label> <input
							id="password" class="form-control" type="password"
							 required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>