<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lifestyle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/todo.css">
</head>

<header>
    <h1 class="text-center">Todo</h1>
</header>

<body>

<nav>
    <a class="btn" th:href="@{todo}">ToDo-list</a>
    <a class="btn" th:href="@{calendar}">Calendar</a>
    <a class="btn float-right" th:href="@{login}">Login</a>
</nav>

<h2 class="text-center">What do you want to do today?</h2>

<div id="input-div">
    <input id="textField" type="text" >
    <input type="submit" value="Submit">
</div>

<div id="table-div">
    <table>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.task}"></td>
        </tr>
    </table>
</div>

</body>
</html>